@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');    

body{
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    animation: breath 20s ease-in-out infinite;
}
.para{
    margin-top: 30px;
    color: black;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 50px;
}

.link-box{
    border: 2px solid #fff;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

.link-box:hover{
    color: black;
    background-color: white;
}

@keyframes breath {
    0%{
        background-size: 100% 100vh;
    }
    50%{
        background-size: 150% 150vh;
    }
    100%{
        background-size: 100% 100vh;
    }
    
}